coreschema==0.0.4
Django==3.2.16
django-cors-headers==3.5.0
djangorestframework==3.11.0
djangorestframework-simplejwt==4.3.0
drf-yasg==1.20.0
psycopg2>=2.8.6,<2.9
flake8>=3.9.2,<3.10
Pillow>=9.3,<9.4
facebook-sdk==3.1.0
Faker==4.1.0
future==0.18.2
google-api-core==1.22.2
google-api-python-client==1.12.1
google-auth==1.21.2
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
gunicorn==20.0.4
httplib2==0.18.1
idna==2.9
inflection==0.4.0
itypes==1.2.0
MarkupSafe==1.1.1
packaging==20.4
python-twitter==3.5
pytz==2020.1
requests==2.23.0
rsa==4.6
sqlparse==0.3.1
urllib3==1.25.9

